html,
body,
.App,
.App > div {
  min-height: 100% !important;
  position: absolute;
  width: 100%;
}

#root {
  min-height: 100%;
}

.ui.sidebar.visible ~ .pusher {
  width: calc(100% - 350px);
}

a.item::before {
  background: white !important;
}

<<<<<<< HEAD
.antonHeader {
  border-bottom: 1px solid rgba(34, 36, 38, 0.1);
}

=======
>>>>>>> b0f9fec34f932cac082d09e4110d2c6f7286285b
.sidebarItem {
  margin: 5px 5px;
  font-size: 14px !important;
  border-radius: 20px !important;
}

.sidebarItem.active {
  color: white !important;
  background-image: linear-gradient(
    to bottom right,
    #505c86,
    #404e67
  ) !important;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

.approve:hover {
  color: green;
  cursor: pointer;
}
